.navbar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  color: var(--whiteColor);
  font-weight: 600;
  padding-top: 25px !important;
}

.navbar .logo {
  font-size: 1.5rem;
  cursor: pointer;
  width: 25%;
}

.navbar .logo span {
  color: var(--primaryColor);
}

.navbar .menu {
  display: flex;
  width: 25%;
  flex: 1;
}

.navbar .menu ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.navbar .menu ul li:hover {
  color: var(--primaryColor);
  cursor: pointer;
}

.navbar .menu ul .Categories {
  position: relative;
  margin-left: 60px;
}

.navbar .menu ul .Categories:hover ul {
  display: flex;
  flex-direction: column;
}

.navbar .menu ul .Categories ul {
  color: var(--whiteColor);
  background-color: var(--lightPrimaryColor);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 25px;
  width: 150px !important;
  margin: auto;
  text-align: center;
  display: none;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar .menu ul .Categories ul li {
  margin-top: 10px;
}

.navbar .form {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}

.navbar .form .userName {
  position: relative;
}

.navbar .form .userName:hover .login {
  display: flex;
}

.navbar .form .userName .login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: .3s !important;
  color: var(--whiteColor);
  background-color: var(--lightPrimaryColor);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 25px;
  width: 150px !important;
  margin: auto;
  text-align: center;
  display: none;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar .form .userName .login:hover {
  color: var(--primaryColor) !important;
}

.navbar .form .userName .login svg {
  margin-left: 15px;
}

@media (max-width: 1100px) {
  .logo {
    width: 15%;
  }
  .menu ul li:hover {
    color: var(--primaryColor);
    cursor: pointer;
  }
  .menu ul .Categories {
    position: relative;
    margin-left: 50px;
  }
}

@media (max-width: 700px) {
  .navbar {
    flex-wrap: wrap;
  }
  .navbar .logo {
    width: 45%;
  }
  .navbar .menu {
    justify-content: center;
    width: 45%;
  }
  .navbar .menu ul .Categories {
    margin-left: 20px;
  }
  .navbar .form {
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
}
